@import "./globals.styl"
@import "./header.styl"
@import "./footer.styl"

main
    width: 100%
    height: auto
    background background-main-color
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: white
    img
        height: 200px
        margin-top: 15px
    h2
        font-size: title-size
    

.instructions
    width: 80%
    padding: 20px
    margin 20px
    font-size: size-font-mobile-navs
    text-align: justify
    background: cards-color
    border-radius: 15px
    &__main
        height: 150px
        display: flex
        justify-content: center
        align-items: center
        margin 0px 0px 40px 0px
        &--title
            font-size: title-size + 1rem
            text-align: center
        img
            height: 75px
            margin 0px 0px 0px 0px
    &__title
        height: 80px
        display: flex
        justify-content: center
        align-items: center
        margin-top top-margin-text + 10px
        &--text
            font-size: title-size
            text-align: center
        img
            height: 50px
            margin 0px 5px 0px 0px
    p
        margin-top: top-margin-text
        line-height: 15px
    ol
        // margin-top: top-margin-text
        padding: 15px
        li
            margin-top: 10px

.form, .result
    width: 80%
    display: grid
    padding: 20px
    margin 20px
    background: cards-color
    border-radius: 15px
    &__main
        margin-bottom: 20px
        text-align: center
        img
            height: 150px
            margin-bottom: 15px
    &__huella
        text-align: start
        font-size: size-font-mobile-navs
        line-height: 20px
        label
            margin-bottom: 15px
            height: 35px
        input
            margin-bottom: 15px
            font-size: size-font-mobile-navs
            width: 100%
            height: 30px
            text-align: justify
            align-items: center
        textarea
            width: 100%
            height: 75px
            font-size: size-font-mobile-navs
            font-family: fuente1
            margin-bottom: 10px
            word-wrap: break-word
    button
        margin-top: 30px
        height: 35px
        width: 80%
        color white
        justify-self: center
        font-size: size-font-mobile-navs
        font-weight: bold
        // background: background-nav-color
        background-color: secondary-color
        border: 1px white solid
        &:hover
            background: #2099d5
    s
#inputName
    height: 30px


//TEXTOS Y BANDERAS

.result
    width: 80%
    // height: 100%
    // min-width: 280px
    // max-width: 400px
    // padding: 0
    // margin 0
    // width: 360px
    // min-width 300px
    grid-template-columns: 1fr
    grid-template-rows: max-content
    grid-template-areas: 
    "name"
    "text";
    // grid-row-gap: 30px
    place-items: center
    // &result-main
    h2
        word-wrap: break-word
        // -webkit-text-stroke: .2px black;
    p
        margin-top: top-margin-text
        font-size: size-font-mobile-navs
        line-height: 15px
        margin: 0
        word-wrap: break-word
        margin-top: 10px
        // -webkit-text-stroke: .2px black;
    h3
        line-height: 15px
        word-wrap: break-word
        font-size: size-font-mobile-navs + 0.5rem
        margin-top: 15px
        // -webkit-text-stroke: .2px black;
    &__main
        // height: 100px
        // width: 100px
        // justify-self: center
        // margin: 0
        &--country
            width: 100%
            margin: 0 auto
            display: grid
            grid-area: name
            grid-template-columns: 40% 60%
            grid-template-areas: 
            "flag title"
            text-align: center 
            border-bottom: 1.5px solid letter-color-secondary
            &-titles
                display: grid
                grid-template-rows: auto 50px
                justify-content: center
            &-for-white
                width: 100%
                margin: 0 auto
                display: grid
                grid-area: name
                grid-template-columns: 40% 60%
                grid-template-areas: 
                "flag title"
                text-align: center 
                border-bottom: 1.5px solid black
                &-titles
                    display: grid
                    grid-template-rows: auto 50px
                    justify-content: center
    &__text
        width: 100%
        // height: 300px
        display: grid
        grid-column-start: 1
        grid-column-end: 2
        // grid-area:  text;
        grid-auto-rows: max-content
        grid-gap: 25px
        &--print-result
            pawTextFromForm()
            height: auto
            justify-self: start
            h3
                width: 100%
                // -webkit-text-stroke: 1.2px black;
            p
                width: 100%
                // -webkit-text-stroke: .2px black;        

        // &--print-description
        //     grid-area: description
        // &--print-dreams
        //     grid-area: dreams        
        // // &--print-games
        //     grid-area: games  
        // &--print-arrived
        //     grid-area: arrived  
        // &--print-message
        //     grid-area: message      


//COUNTRY

#countryImg
    // display: block
    // display: flex
    // justify-self: center
    width: 100px
    height: 100px
    grid-area: flag
    margin: 0 auto

#result__main--countryImg
    display: flex
    place-items: center


#pawName
    display: flex
    justify-content: center
    width: 100%
    height: 100%
    overflow: hidden
    // margin 0 auto
    grid-row-start: 1
    grid-row-end: 2
    padding-top 15px 
    // padding-bottom: 10px
    // grid-column-start: : 2
    // grid-column-end: 3
    // margin-top 20px
    // margin-left 20px

#pawCountry
    display: flex
    justify-content: center
    // display: block
    width: 100%
    // margin 20px auto
    grid-row-start: 2
    grid-row-end: 3
    text-align: center
    margin-top: 0 aui
    padding-top: 20px
    // margin-top: 55px
    // margin-left: 20px

// OTHER TEXT
