fuente1 = 'Roboto', sans-serif
size-font-mobile-navs = 1.5rem 
title-size = 2.5rem
top-margin-text = 15px

background-nav-color = #171717
background-main-color = #2b2e2e
// background-main-color = #212525
// cards-color = #2b2e2e
cards-color = #212525
secondary-color = #0e1f40
// color-secundario = #055d9c
letter-color-main = #dfe3eb
letter-color-secondary = #ffffff


//MIXINS

sizeToMobileFirst(widthSize, heightSize)
    width: widthSize
    height: heightSize

pawTextFromForm()
    display: grid
    flex-direction: column
    width: 100%
    text-align: start

//CSS

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: fuente1
    width: 100vw
    height: 100vh
    overflow-x: hidden

body
    sizeToMobileFirst(100vw, fit-content)
    height: 100vh
    width: 100vw

a
    text-decoration: none
    color: white

textarea
    font-size: size-font-mobile-navs
    font-family: fuente1