fuente1 = 'Roboto', sans-serif
size-font-mobile-navs = 1.25rem 
title-size = 2.5rem
top-margin-text = 15px

background-nav-color = #171717
background-main-color = #2b2e2e
// background-main-color = #212525
// cards-color = #2b2e2e
cards-color = #212525
secondary-color = #0e1f40
// color-secundario = #055d9c
letter-color-main = #dfe3eb
letter-color-secondary = #ffffff

sizeToMobileFirst(widthSize, heightSize)
    max-width: widthSize
    height: heightSize

*
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    font-family: fuente1

body
    sizeToMobileFirst(425px, fit-content)

a
    text-decoration: none
    color: white