@import "./globals.styl"
@import "./header.styl"
@import "./footer.styl"

main
    width: 100%
    min-height: 760px
    background background-main-color
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    color: white
    img
        height: 200px
        margin-top: 15px
    h2
        font-size: title-size

//Codigo para Pagina Discord


